<ion-header>
  <ion-toolbar>
    <ion-title>Administrador Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/']">
        <ion-icon name="log-out-outline"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/administrador/citas']"><ion-label>Citas</ion-label></ion-tab-button>
    <ion-tab-button [routerLink]="['/administrador/controlAcceso']"><ion-label>Usuarios</ion-label></ion-tab-button>
    <ion-tab-button [routerLink]="['/administrador/facturacion']"><ion-label>Facturación</ion-label></ion-tab-button>
    <ion-tab-button [routerLink]="['/administrador/inventario']"><ion-label>Inventario</ion-label></ion-tab-button>
    <ion-tab-button [routerLink]="['/administrador/paciente']"><ion-label>Pacientes</ion-label></ion-tab-button>
    <ion-tab-button [routerLink]="['/administrador/propietario']"><ion-label>Propietarios</ion-label></ion-tab-button>
    <ion-tab-button [routerLink]="['/administrador/tratamiento']"><ion-label>Tratamientos</ion-label></ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
