<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>💳 Lista de Facturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngFor="let factura of facturas">
    <ion-card-header>
      <ion-card-title>Factura #{{ factura.idFactura }}</ion-card-title>
      <ion-card-subtitle>Paciente ID: {{ factura.idPaciente }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Servicios: {{ factura.servicios }} <br>
      Medicamentos: {{ factura.medicamentos }} <br>
      Total: ${{ factura.total }} <br>
      Fecha: {{ factura.fecha }} <br>
      Método de pago: {{ factura.metodoPago }}
    </ion-card-content>
  </ion-card>

  <ion-text color="medium" *ngIf="facturas.length === 0">
    <p class="ion-text-center">No hay facturas registradas 😿</p>
  </ion-text>
</ion-content>
