<ion-content class="login-bg" fullscreen>
  <div class="login-wrapper">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title>VetCare</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p class="subtitle">
          Inicia sesión para administrar tu clínica veterinaria.
        </p>

        <!-- Aquí luego puedes poner tu formulario usuario/contraseña -->

        <ion-button expand="block" (click)="onGoogleLogin()">
          Iniciar sesión con Google
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
