.login-bg {
  --background: #020617;
}

.login-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  width: 90%;
  max-width: 420px;
}

.subtitle {
  margin-bottom: 1.5rem;
  text-align: center;
  opacity: 0.8;
}
